.input-label {
  color: white;
  // Add other styles for the label here
}

.input-field {
  width: 400px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  // Add other styles for the input field here
}