/* Footer.css */
.footer-container {
  width: 100%;
  min-height: 20vh;
  max-height: 30vh;
  margin-top: 60px;
}

.footer-text {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.footer-author-name .footer-link {
  color: white;
  margin-left: 10px;
}